<section id="sign-up-component">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">
		Launch Signup Modal
	</button>
	<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-header" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="signup-header">Sign Up</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="email">Email address</label>
							<input class="form-control" type="email" v-model="user.email" name="email" />
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input class="form-control" type="password" v-model="user.password" name="password" />
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
						<button class="btn btn-primary" type="button" v-on:click="signup()">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>