<section class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<usercrud-add-edit-component @user-added="getUsers()" @user-edited="getUsers()" :selected-user="selectedUser" @cancel-action="resetForms()"></usercrud-add-edit-component>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-border">
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
						<th>Created</th>
						<th>Updated</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(user, index) in users">
						<td>{{user.id}}</td>
						<td>{{user.email}}</td>
						<td>{{filters.localDate(user.createdAt)}}</td>
						<td>{{filters.localDate(user.updatedAt)}}</td>
						<td><button v-on:click="editUser(user)" class="btn btn-warning btn-small">Edit</button></td>
						<td><button v-on:click="removeUser(user)" class="btn btn-danger btn-small">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>